<!DOCTYPE html>

<html lang="en">
 
<% include header %>
<body id="page-top" class="project7Page" data-spy="scroll" data-target=".navbar-fixed-top">  

 <% include nav %>    
    
    <!---- Main context ---->

<header class="bg1">
  <div class="container">
      <br>
    <h1>
  Photography
        </h1>
      </div>
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h2>
      Here are my latest photos shot with a Nikon D3300. I do mostly nature shots, but look forward to broadening my horizons with new projects to come!
</h2>
            <br>
        </div>    
   </div>
</header>    
       

            
 <section class="about-pro bg2">
 <div class="container">
    
</div>          
            

<div class="container">
     <div class="col-xs-12 col-sm-6 col-md-6">
                 
    <a class="bioImg" rel="group1" href="images/Photography/BigMushroom.png"> <img class="img-responsive" src="images/Photography/BigMushroom.png"> </a>
                </div>
    
    
            <div class="col-xs-12 col-sm-6 col-md-6">
              
            <a class="bioImg" rel="group1" href="images/Photography/Katarina_Update2.png"> <img class="img-responsive" src="images/Photography/Katarina_Update2.png"> </a>
                </div>
         </div>
     
     <div class="container">
     <div class="col-xs-12 col-sm-6 col-md-6">
                 
    <a class="bioImg" rel="group1" href="images/Photography/Fungi.png"> <img class="img-responsive" src="images/Photography/Fungi.png"> </a>
                </div>
    
    
            <div class="col-xs-12 col-sm-6 col-md-6">
             
            <a class="bioImg" rel="group1" href="images/Photography/GrassDrops.png"> <img class="img-responsive" src="images/Photography/GrassDrops.png"> </a>
                </div>
         </div>
           
     
     
          <div class="container">
     <div class="col-xs-12 col-sm-6 col-md-6">
                 
    <a class="bioImg" rel="group1" href="images/Photography/MossBranch.png"> <img class="img-responsive" src="images/Photography/MossBranch.png"> </a>
                </div>
    
    
            <div class="col-xs-12 col-sm-6 col-md-6">
            
            <a class="bioImg" rel="group1" href="images/Photography/Sunset.png"> <img class="img-responsive" src="images/Photography/Sunset.png"> </a>
                </div>
         </div>
     
     
<!--
               <div class="container">
     <div class="col-xs-12 col-sm-6 col-md-6">
               
    <a class="bioImg" rel="group1" href="images/Photography/BigMushroom.png"> <img class="img-responsive" src="images/Photography/BigMushroom.png"> </a>
                </div>
    
    
            <div class="col-xs-12 col-sm-6 col-md-6">
            
            <a class="bioImg" rel="group1" href="images/Photography/BigMushroom.png"> <img class="img-responsive" src="images/Photography/BigMushroom.png"> </a>
                </div>
         </div>
-->
     
     

    
    
  

</section>

<% include footer %>

</body>
</html>

