<!DOCTYPE html>

<html lang="en">
 
<% include header %>

 <body id="page-top" class="projectsPage" data-spy="scroll" data-target=".navbar-fixed-top">  
    
 <% include nav %>   
      
<header>
   
    <h1>
    Projects
        </h1>

    
</header>
    
   <div class="container">
    
   <div class="marginMore">
       
       <div class="projects">
       
       <div class="row">
           
           <div class="col-xs-12 col-sm-12 col-md-6" >
                <div class="thumbnail">
                    <div class="pro-image">
                <div class="caption">
                    <a href="/project1">
                    <h4>DeStress App</h4>
                    <p>a group project</p>
                        </a>
                    </div>
               
               <img class="img-responsive" src="images/StressApp.jpg" alt="">
               </div>
           </div>
           </div>
           
          
                <div class="col-xs-12 col-sm-12 col-md-6" >
                     <div class="thumbnail">
                         <div class="pro-image">
                <div class="caption">
                    <a href="/project2">
                    <h4>Hiking Website</h4>
                    <p>small team project</p>
                    </a>
                         </div>
          <img class="img-responsive" src="images/TAKEA.jpg" alt="">
           </div>
           </div>
           </div>
           </div>
           
           
    
           
                  <div class="row">
           
           <div class="col-xs-12 col-sm-12 col-md-6" >
                <div class="thumbnail">
                    <div class="pro-image">
                <div class="caption">
                    <a href="/project3">
                    <h4>Redesign of Website</h4>
                    <p>a small group assignment</p>
                    </a>
                    </div>
               <img class="img-responsive" src="images/WCS3.jpg" alt="">
               </div>
           </div>
           </div>
                <div class="col-xs-12 col-sm-12 col-md-6" >
                     <div class="thumbnail">
                         <div class="pro-image">
                <div class="caption">
                    <a href="/project4">
                    <h4>Product Internship</h4>
                    <p>my work as a UX intern</p></a>
                </div>
          <img class="img-responsive" src="images/xtime.jpg" alt="">
                    </div>
                         </div>
           </div>
           </div>
           
           
           
           
       </div>
       </div>
    </div>
    
<% include footer %>

</body>
</html>

