<!DOCTYPE html>

<html lang="en">
 
<% include header %>
<body id="page-top" class="project2Page" data-spy="scroll" data-target=".navbar-fixed-top">  

 <% include nav %>    
    
    <!---- Main context ---->

<header class="bg1">
  <div class="container">
      <br>
    <h1>
    Take A Hike Website
        </h1>
      </div>
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h2>
       The goal is to create something different for hikers in the San Diego area by helping users of all hiking levels enjoy the beauty of nature in San Diego.</h2>
            <br>
        </div>    
   </div>
</header>    
       

            
 <section class="about-pro bg2">
 <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
User Research
        </h4>
        <p>
Our first task was to see what sort of hiking site were already out there and what functions and services they provided. We found a lot of sites did the same basic things of just listing out all trails by location. There are lots of images, information about trails, and in some cases social media or comment areas for users to get information directly from other users. 
After seeing what is already out there we took some basic questions out to the public to figure out what types of users would be interested in a hiking site as well as what kinds of functionality we can provide users.
        </p>
      </div>     
</div>          
            

<div class="container">
     <div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
                    
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <a class="bioImg" rel="group1" href="images/TakeHike/adventurer.gif"> <img class="img-responsive" src="images/TakeHike/adventurer.gif"> </a>
                </div>
                 
                 <div class="col-xs-12 col-sm-6 col-md-6">
                     <a class="bioImg" rel="group1" href="images/TakeHike/towners.gif"> <img class="img-responsive" src="images/TakeHike/towners.gif"> </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                    <a class="bioImg" rel="group1" href="images/TakeHike/locals.gif">  <img class="img-responsive" src="images/TakeHike/locals.gif"> </a>
                </div>
                    
           
                </div>
</div>
</section>
             
            
<!--
            <div class="row">
            
         <div class="third-sec">
    <div class="col-xs-12 col-sm-12 col-md-2" >
        <h4> Analysis:
        </h4>
       </div> 
        <div class="col-xs-12 col-sm-12 col-md-10" >
        <p>
        After collecting our data we all sat down in a debriefing meeting to go over what each of us found from our interviews and observations as well as look at the results of our online survey. We found some surprising results like a lot of students admit to being stressed, but more specifically 80% admitted to being a procrastinator and 74% said they were good at managing their time. In further analysis we found procrastination was not necessarily a bad thing for students in terms of stress, in fact it was more of a motivator for students to get their work done. We continued to lay out the information we collected and created an affinity diagram and held invisioning sessions to really flesh out our data and start to form ideas of what we would do. 
        </p>
        </div>
               
        </div>
          </div>  
        
        <div class="row">
                <div class="pro1-img">
                     <div class="col-xs-12 col-sm-12 col-md-2" >
                    </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
            <img class="img-responsive" src="images/Stress/app5.JPG">
                    </div>
                 
                 <div class="col-xs-12 col-sm-6 col-md-5">
            <img class="img-responsive" src="images/Stress/app4.jpg">
                </div>
                </div>
                </div>
            
            
            
            <hr>       
-->
           
            
<section class="about-pro bg3">
 <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Sketches
        </h4>
        <p>
When drawing up the design of our site we were going through several different designs and functions that the site would feature. We started off as being an informative site that was community oriented, in that we wanted to encourage social aspects. The overall purpose of the site was to inform users and help them find other people and organizations for more hiking information. 
        </p>
     </div>
 </div>
        
<div class="container">
        <div class="col-xs-6 col-sm-6 col-md-4">
            <a class="sketchImg" rel="group1" href="images/TakeHike/sket1.jpg"> <img class="img-responsive" src="images/TakeHike/sket1.jpg"> </a>
            </div>
            
     <div class="col-xs-6 col-sm-6 col-md-4">
         <a class="sketchImg" rel="group1" href="images/TakeHike/sket2.jpg">  <img class="img-responsive" src="images/TakeHike/sket2.jpg"> </a>
        </div>
          
    <div class="col-xs-6 col-sm-6 col-md-4">
        <a class="sketchImg" rel="group1" href="images/TakeHike/sket3.jpg"> <img class="img-responsive" src="images/TakeHike/sket3.jpg"></a>
    </div>
            
            <div class="col-xs-6 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-2">
                <a class="sketchImg" rel="group1" href="images/TakeHike/sket4.jpg">  <img class="img-responsive" src="images/TakeHike/sket4.jpg"> </a>
        </div>  
            
     <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
         <a class="sketchImg" rel="group1" href="images/TakeHike/sket5.jpg"> <img class="img-responsive" src="images/TakeHike/sket5.jpg"></a>
        </div>

    </div>
</section>

            
            
<section class="about-pro bg1">
 <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Wireframes
        </h4>
        <p>
 After sketching out the designs we started to wireframe the layout and had some changes to the design. We felt the site was too much like other sites that are already out there for hikers and with social media the way it is, no one would come to the site just for another social outlook. We decided to move towards our site being more of a tool then just a place for information, yet still having links to the social groups. Overall the layout was pretty simple with a lot of content for each trail.
        </p>
     </div>          
</div>
          

  <div class="container">
    <div class="col-xs-6 col-sm-6 col-md-4">
        <a class="compImg" rel="group1" href="images/TakeHike/home.jpg">  <img class="img-responsive" src="images/TakeHike/home.jpg"></a>
        </div>
 <div class="col-xs-6 col-sm-6 col-md-4">
     <a class="compImg" rel="group1" href="images/TakeHike/gear.png"> <img class="img-responsive" src="images/TakeHike/gear.png"> </a>
    </div>
     <div class="col-xs-6 col-sm-6 col-md-4">
         <a class="compImg" rel="group1" href="images/TakeHike/safety.png"> <img class="img-responsive" src="images/TakeHike/safety.png"> </a>
    </div>
        
        <div class="col-xs-6 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-2">
            <a class="compImg" rel="group1" href="images/TakeHike/tips.png"> <img class="img-responsive" src="images/TakeHike/tips.png"> </a>
        </div>

 <div class="col-xs-6  col-xs-offset-3 col-sm-6 col-xs-offset-3 col-md-4 col-md-offset-0">
     <a class="compImg" rel="group1" href="images/TakeHike/trek_together.jpg"> <img class="img-responsive" src="images/TakeHike/trek_together.jpg"> </a>

    </div>
    </div>
</section>
            
<section class="about-pro bg2">
 <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Revisions
            </h4>
        <p>After laying out our wireframes and performing some simple user testing and getting user feedback we found that our main focus of the site should be a quick way for users to find a trial specific to their desires. This lead to a redesign in our homepage- which would become the main interaction of our site. We decided to have our filter feature be on the homepage so the user could jump right in to finding what they wanted.
        </p>
        </div>
</div>
        
<div class="container">

    <div class="col-xs-6 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-5 col-md-offset-1">
        <h2>Before</h2>
        <a class="wireImg" rel="group1" href="images/TakeHike/home-2.jpg">    <img class="img-responsive" src="images/TakeHike/home-2.jpg"> </a>
        </div>
      
    <div class="col-xs-6 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-5 col-md-offset-1">
         <h2> After</h2>
         <a class="wireImg" rel="group1" href="images/TakeHike/updated_homepage.jpg">    <img class="img-responsive" src="images/TakeHike/updated_homepage.jpg"> </a>
    </div>        
    </div>
</section>

<section class="about-pro bg3">
 <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Product
        </h4>
       </div> 
        <div class="col-xs-12 col-sm-12 col-md-8" >
        </div>
 </div>
 <div class="container">
         <div class="col-xs-12 col-sm-12 col-md-12">
         <div class="link">
        <p>
<a href="http://take-a-hike.herokuapp.com/" target="_blank"> Check it out </a>
        </p>
       </div>
        </div>
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <a href="http://take-a-hike.herokuapp.com/" target="_blank"> 
            <img class="img-responsive" src="images/TakeHike/Final.jpg">
                    </a>
                    </div>
   </div>
</section>
    
<% include footer %>

</body>
</html>

