<!DOCTYPE html>

<html lang="en">
 
<% include header %>
<body id="page-top" class="project6Page" data-spy="scroll" data-target=".navbar-fixed-top">  

 <% include nav %>    
    
    <!---- Main context ---->

<header class="bg1">
  <div class="container">
      <br>
    <h1>
  Daily UI Designs
        </h1>
      </div>
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h2>
       I signed up to receive daily UI prompts which then I would create my own interpretations of and post to social media. Using the hashtag #DailyUI I could see what other designers came up with as well I get feedback on some of my work. I enjoy the project and have learned so much in the process!
</h2>
            <br>
        </div>    
   </div>
</header>    
       

            
 <section class="about-pro bg2">
 <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
My Designs- Web and App designs
        </h4>

      </div>     
</div>          
            

<div class="container">
     <div class="col-xs-12 col-sm-6 col-md-6">
       <h2> Landing Page</h2>             
    <a class="bioImg" rel="group1" href="images/UI Designs/LandingPage.png"> <img class="img-responsive" src="images/UI Designs/LandingPage.png"> </a>
                </div>
    
    
            <div class="col-xs-12 col-sm-6 col-md-6">
              <h2>Error Landing Page</h2>  
            <a class="bioImg" rel="group1" href="images/UI Designs/ErrorScreen-01.png"> <img class="img-responsive" src="images/UI Designs/ErrorScreen-01.png"> </a>
                </div>
         </div>
     
     <div class="container">
     <div class="col-xs-12 col-sm-6 col-md-6">
       <h2> Credit Card Payment</h2>             
    <a class="bioImg" rel="group1" href="images/UI Designs/CreditCardPayment.png"> <img class="img-responsive" src="images/UI Designs/CreditCardPayment.png"> </a>
                </div>
    
    
            <div class="col-xs-12 col-sm-6 col-md-6">
              <h2>Flash Message</h2>  
            <a class="bioImg" rel="group1" href="images/UI Designs/FlashMessage-01.png"> <img class="img-responsive" src="images/UI Designs/FlashMessage-01.png"> </a>
                </div>
         </div>
           
     
     
          <div class="container">
     <div class="col-xs-12 col-sm-6 col-md-6">
       <h2> Messenger</h2>             
    <a class="bioImg" rel="group1" href="images/UI Designs/Messager-01.png"> <img class="img-responsive" src="images/UI Designs/Messager-01.png"> </a>
                </div>
    
    
            <div class="col-xs-12 col-sm-6 col-md-6">
              <h2>Music Player</h2>  
            <a class="bioImg" rel="group1" href="images/UI Designs/MusicPlayer1-01.png"> <img class="img-responsive" src="images/UI Designs/MusicPlayer1-01.png"> </a>
                </div>
         </div>
     
     
               <div class="container">
     <div class="col-xs-12 col-sm-6 col-md-6">
       <h2> Profile Layout 1</h2>             
    <a class="bioImg" rel="group1" href="images/UI Designs/Profile1_DailyUI.png"> <img class="img-responsive" src="images/UI Designs/Profile1_DailyUI.png"> </a>
                </div>
    
    
            <div class="col-xs-12 col-sm-6 col-md-6">
              <h2>Profile Layout 2</h2>  
            <a class="bioImg" rel="group1" href="images/UI Designs/Profile2_DailyUI.png"> <img class="img-responsive" src="images/UI Designs/Profile2_DailyUI.png"> </a>
                </div>
         </div>
     
     
     
                              <div class="container">
     <div class="col-xs-12 col-sm-6 col-md-6">
       <h2> Mobile Login</h2>             
    <a class="bioImg" rel="group1" href="images/UI Designs/MobileLoginIn.png"> <img class="img-responsive" src="images/UI Designs/MobileLoginIn.png"> </a>
                </div>
    
    
            <div class="col-xs-12 col-sm-6 col-md-6">
              <h2> Mobile Login 2</h2>  
            <a class="bioImg" rel="group1" href="images/UI Designs/MobileLogIn2.png"> <img class="img-responsive" src="images/UI Designs/MobileLogIn2.png"> </a>
                </div>
         </div>
     
     
     
     
                    <div class="container">
     <div class="col-xs-12 col-sm-6 col-md-6">
       <h2>Shop E-commence</h2>             
    <a class="bioImg" rel="group1" href="images/UI Designs/Shop-01.png"> <img class="img-responsive" src="images/UI Designs/Shop-01.png"> </a>
                </div>
    
    
            <div class="col-xs-12 col-sm-6 col-md-6">
              <h2> Settings Page</h2>  
            <a class="bioImg" rel="group1" href="images/UI Designs/Setting.png"> <img class="img-responsive" src="images/UI Designs/Setting.png"> </a>
                </div>
         </div>

</section>

<% include footer %>

</body>
</html>

