<!DOCTYPE html>

<html lang="en">
 
<% include header %>
<body id="page-top" class="project5Page" data-spy="scroll" data-target=".navbar-fixed-top">  

 <% include nav %>    
    
    <!---- Main context ---->

<header class="bg1">
  <div class="container">
      <br>
    <h1>
    SterlingDesplat Design Work
        </h1>
      </div>
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h2>
       I was given the task of coming up with a few redesign layouts for the website and to come up with some marketing collateral. </h2>
            <br>
        </div>    
   </div>
</header>    
       

            
 <section class="about-pro bg2">
 <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Website Redesign
        </h4>
        <p>
I was given a very basic mock up page and a simple description of what the company does and told to create a site layout. After looking into other companies who are similar and overall design trends I came up with the following designs. 
        </p>
      </div>     
</div> 
         <div class="container">
             <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
                 <p> This was the homepage layout I created. You can check out the live mock up <a href="http://fr1277.axshare.com/#p=home" target="_blank">here</a></p>
                </div>
         </div>
            

<div class="container">
     <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    
               
                    <a class="bioImg" rel="group1" href="images/StartupDesign/home_1.png"> <img class="img-responsive" src="images/StartupDesign/home_1.png"> </a>
                </div>
     
           
                </div>
</div>
</section>
             
            
<!--
            <div class="row">
            
         <div class="third-sec">
    <div class="col-xs-12 col-sm-12 col-md-2" >
        <h4> Analysis:
        </h4>
       </div> 
        <div class="col-xs-12 col-sm-12 col-md-10" >
        <p>
        After collecting our data we all sat down in a debriefing meeting to go over what each of us found from our interviews and observations as well as look at the results of our online survey. We found some surprising results like a lot of students admit to being stressed, but more specifically 80% admitted to being a procrastinator and 74% said they were good at managing their time. In further analysis we found procrastination was not necessarily a bad thing for students in terms of stress, in fact it was more of a motivator for students to get their work done. We continued to lay out the information we collected and created an affinity diagram and held invisioning sessions to really flesh out our data and start to form ideas of what we would do. 
        </p>
        </div>
               
        </div>
          </div>  
        
        <div class="row">
                <div class="pro1-img">
                     <div class="col-xs-12 col-sm-12 col-md-2" >
                    </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
            <img class="img-responsive" src="images/Stress/app5.JPG">
                    </div>
                 
                 <div class="col-xs-12 col-sm-6 col-md-5">
            <img class="img-responsive" src="images/Stress/app4.jpg">
                </div>
                </div>
                </div>
            
            
            
            <hr>       
-->
           
            
<section class="about-pro bg1">
 <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Second Website Layout
        </h4>
        <p>
Next I gave a second website layout- this time having a multiple page design. This would be more ideal for a company that has a lot of content and really wants to expand on. You can explore the live mock up <a href="http://n7gnm0.axshare.com/home.html" target="_blank">here</a> 
        </p>
     </div>
 </div>
        
<div class="container">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <a class="sketchImg" rel="group1" href="images/StartupDesign/home3.png"> <img class="img-responsive" src="images/StartupDesign/home3.png"> </a>
            </div>
            
     <div class="col-xs-6 col-sm-6 col-md-6">
         <a class="sketchImg" rel="group1" href="images/StartupDesign/Contact2.png">  <img class="img-responsive" src="images/StartupDesign/Contact2.png"> </a>
        </div>
          
    <div class="col-xs-6 col-sm-6 col-md-6">
        <a class="sketchImg" rel="group1" href="images/StartupDesign/customers2.png"> <img class="img-responsive" src="images/StartupDesign/customers2.png"></a>
    </div>
    
            <div class="col-xs-6 col-sm-6 col-md-6">
                <a class="sketchImg" rel="group1" href="images/StartupDesign/about2.png">  <img class="img-responsive" src="images/StartupDesign/about2.png"> </a>
        </div>  
            
<!--
     <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
         <a class="sketchImg" rel="group1" href="images/TakeHike/sket5.jpg"> <img class="img-responsive" src="images/TakeHike/sket5.jpg"></a>
        </div>
-->

    </div>
</section>

  
    
<section class="about-pro bg2">
 <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Business Card Mock-ups
            </h4>
        <p>I provided my client with multiple options of colors and designs for potential business cards. 
        </p>
        </div>
</div>
        
<div class="container">

    <div class="col-xs-6 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-4 ">
        
        <a class="wireImg" rel="group1" href="images/StartupDesign/SterlingCards.png">    <img class="img-responsive" src="images/StartupDesign/SterlingCards.png"> </a>
        </div>
      
    <div class="col-xs-6 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-4 ">
         
         <a class="wireImg" rel="group1" href="images/StartupDesign/SterlingCards1.png">    <img class="img-responsive" src="images/StartupDesign/SterlingCards1.png"> </a>
    </div> 
        <div class="col-xs-6 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-4 ">
         
         <a class="wireImg" rel="group1" href="images/StartupDesign/SterlingCards2.png">    <img class="img-responsive" src="images/StartupDesign/SterlingCards2.png"> </a>
    </div> 
        
           <div class="col-xs-6 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-4 ">
         
         <a class="wireImg" rel="group1" href="images/StartupDesign/SterlingCards3.png">    <img class="img-responsive" src="images/StartupDesign/SterlingCards3.png"> </a>
    </div> 
        
           <div class="col-xs-6 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-4 ">
         
         <a class="wireImg" rel="group1" href="images/StartupDesign/SterlingCards4.png">    <img class="img-responsive" src="images/StartupDesign/SterlingCards4.png"> </a>
    </div> 
        
           <div class="col-xs-6 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-4 ">
         
         <a class="wireImg" rel="group1" href="images/StartupDesign/SterlingCards5.png">    <img class="img-responsive" src="images/StartupDesign/SterlingCards5.png"> </a>
    </div> 
        

    
    </div>
</section>    
    
    
    
    
            
<section class="about-pro bg1">
 <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Marketing Collateral- Flyers
        </h4>
        <p>
I made some basic mock up templates to be used by the company. This are to be either handed out at conferences or events and or place on a website as a downloadable PDF file for customers to use. 
        </p>
     </div>          
</div>
    <br>      

  <div class="container">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <h2>Front View</h2>
        <a class="compImg" rel="group1" href="images/StartupDesign/SterlingFlyer.png">  <img class="img-responsive" src="images/StartupDesign/SterlingFlyer.png"></a>
      
        </div>
      
    <div class="col-xs-6 col-sm-6 col-md-6">
         <h2>Back View</h2>
        <a class="compImg" rel="group1" href="images/StartupDesign/SterlingFlyer2.png">  <img class="img-responsive" src="images/StartupDesign/SterlingFlyer2.png"></a> 
   
        </div>
      </div>
      <br>
<div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
         <a class="compImg" rel="group1" href="images/StartupDesign/SterlingDesplatCollateral.png"> <img class="img-responsive" src="images/StartupDesign/SterlingDesplatCollateral.png"> </a>
    </div>
        


    </div>
</section>
            
<!--


<section class="about-pro bg3">
 <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Product
        </h4>
       </div> 
        <div class="col-xs-12 col-sm-12 col-md-8" >
        </div>
 </div>
 <div class="container">
         <div class="col-xs-12 col-sm-12 col-md-12">
         <div class="link">
        <p>
<a href="http://take-a-hike.herokuapp.com/" target="_blank"> Check it out </a>
        </p>
       </div>
        </div>
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <a href="http://take-a-hike.herokuapp.com/" target="_blank"> 
            <img class="img-responsive" src="images/TakeHike/Final.jpg">
                    </a>
                    </div>
   </div>
</section>
    
-->
<% include footer %>

</body>
</html>

