<!DOCTYPE html>

<html lang="en">
 
<% include header %>
<body id="page-top" class="aboutPage" data-spy="scroll" data-target=".navbar-fixed-top">  
    
 <% include nav %>    
    
    <!---- Main Image ---->
<header> 
    <center>
    <h1>
   UI/UX Designer
        </h1>

    </center>
</header>
 <div class="container about-page">
       <div class="row">
           
           
           <div class="col-xs-12 col-sm-12 col-md-8" >
               <div class="about-text">
                    <p>My name is Natasha and I graduated from the University of California, San Diego. I received my BA in Cognitive Science accompanied by a minor in Economics. 
                        <br>
                        <br>
                        I have a drive for UX/UI design and have been growing within the field. Being exposed to the many aspects that go into a successful application has taught me a lot about the requirements and mindset one needs when being involved in the user centered design field. 
                        <br>
                        <br>
                        I love being creative and working with others to achieve big goals. I am an eager learner who always strives to grow by using the resources around me. I love being active and have been playing soccer since I was 6 years old. On weekends I like to go on hikes and try new resturants with friends.</p>
                    </div>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-4" >
                   <div class="profile-image">
               <img class="img-responsive" src="images/Profilecircle_1.png" alt="">
               </div>
               </div>
        </div>
</div>
            
<% include footer %>

</body>

    
</html>

