<!DOCTYPE html>

<html lang="en">
 
<% include header %>
<body id="page-top" class="contactPage" data-spy="scroll" data-target=".navbar-fixed-top">  
    
 <% include nav %>    
    
    <!---- Main Image ---->
    
<header class="short">
  <div class="container">
    <h1>
Contact
    </h1>
   </div>
</header>

 <section class="about-pro bg3">
 <div class="container">

     <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-2" >
       <div class="box-1">
        <a href="mailto:00tasha@gmail.com">
          <img src="images/gmail_mail-2.png" class="img-responsive" alt="Gmail" onmouseover="this.src='images/gmail_mail-3.png'" onmouseout="this.src='images/gmail_mail-2.png'"/>
       </a>
       </div>
     </div>

     <div class="col-xs-12 col-xs-offset-0 col-sm-6 offset-0 col-md-4 col-md-offset-0" >
       <div class="box-2">
        <a href="https://instagram.com/natasha_springer/" target="_blank">
          <img src="images/instagram-2.png" class="img-responsive" alt="Instagram" onmouseover="this.src='images/instagram-3.png'" onmouseout="this.src='images/instagram-2.png'"/>
       </a>
     </div>
     </div>

     <div class="col-xs-12 col-xs-offset-0 col-xs-push-0 col-sm-6 offset-0 col-sm-push-6 col-md-4 col-md-offset-0 col-md-push-6" >
       <div class="box-1">
        <a href="https://twitter.com/NA_Springer" target="_blank">
         <img src="images/twitter-2.png" class="img-responsive" alt="Twitter" onmouseover="this.src='images/twitter-4.png'" onmouseout="this.src='images/twitter-2.png'"/>
       </a>
     </div>
     </div>
         
     <div class="col-xs-12 col-xs-offset-0  col-sm-6 col-sm-offset-0 col-sm-pull-6 col-md-4 col-md-offset-2 col-md-pull-4" >
       <div class="box-2">
        <a href="http://www.linkedin.com/in/natashaspringer" target="_blank">
          <img src="images/linkedin-2.png" class="img-responsive" alt="LinkedIn" onmouseover="this.src='images/linkedin-3.png'" onmouseout="this.src='images/linkedin-2.png'"/>
      </a> 
     </div>
     </div>

</div>
</section>
           
<% include footer %>

</body>

    
</html>
