
<!DOCTYPE html>
<html lang="en">

<% include header %>


<body id="page-top" class="indexPage" data-spy="scroll" data-target=".navbar-fixed-top">
<link rel="stylesheet" href="css/navIndex.css"/>
 <% include nav %>
 
    <!-- Intro Secton -->
    <section class="intro">
    
        <div class="container intro-body">
            
               <div class= class="col-sm-6 col-md-6 col-lg-6">
                   <div class="homeText">
                       <p class="intro-text">Hi I'm Natasha</p>
                        <p>I am a designer. I enjoy creating new things. From photography to web design, I like to play with it all. Take a peek at some of work, read up on who I am, and if any of it interests you feel free to reach out to me!</p>
                         <br>
                        <div class="row">
                         <a href="#projects" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                        </div>
                  </div>
              </div>
        </div>
    </section>
    
<% include projects-sect %>

<% include footer %>

 
</body>

</html>


