<!DOCTYPE html>

<html lang="en">
 
<% include header %>
<body id="page-top" class="project8Page" data-spy="scroll" data-target=".navbar-fixed-top">

 <% include nav %>    
    
    <!-- Main Content --> 
      
<header class="bg1">
<div class="container">
    <br>
      <h1>
     GetSafe Home Security
      </h1>
</div>
<div class="container">
       <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
       <h2>
   I worked as a marketing designer for this start up home security company. I was in charge of creating marketing materials for the web as well as keeping the company’s website up to date with current designs and information. 
       </h2>
           <p><center>   
        <a class="compImg" rel="group1" href="images/GetSafe/Email_3.png"><img class="img-responsive" src="images/GetSafe/Logo.png"></a>
    </p></center>
           <br>
       </div>    
</div>
</header>         
        
<section class="about-pro bg3">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
        Pricing Table Design
        </h4>
        <p>
I was in charge of adding the company's pricing to the website. I had to display the different pricing options customers could pick and show the benefits  for upgrading plans. I wanted this to be an engaging and useful experience for the user as well, not just to display information. The user could go straight to ordering the plan they wanted from the table and could click the check marks to go into more details about that specific aspect of the plan. 
            </p>
            <p>
I conducted competitive analysis to see some ways to display all the information I needed, then once designed I tested it using a heat map program to make sure the design was working. 
        </p>
        </div>
</div>
    <div class="container">
<div class="col-sm-6 col-sm-offset-0 col-md-12 col-md-offset-0 col-lrg-12 col-lrg-offset-0">
      <a class="bioImg" rel="group1" href="images/GetSafe/PricingTable.png"><img class="img-responsive" src="images/GetSafe/PricingTable.png"></a>
</div>

    </div>
</section>                       
            
<section class="about-pro bg4">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
        Checkout Redesign
        </h4>
        <p>
The company expanded their monitoring plans available to users so an update to the checkout flow needed to reflect the change. 
I came up with several designs to signify the different plans and how to best display the options. We ran AB testing on the two designs. 
        </p>
        </div>
</div>          
               
<div class="container">
<div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
      <a class="bioImg" rel="group1" href="images/GetSafe/ShopRedesign.jpg"><img class="img-responsive" src="images/GetSafe/ShopRedesign.jpg"></a>
</div>

</div>
</section>

   
<section class="about-pro bg3">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
   Lead Form Design
        </h4>
        <p>
In order to drive more leads to the sales team I created a lead form for users to fill out right on the website. That way our team could call potential customers and help them build a system that was best for their home. 
The key to this design was to get the information needed without making the user go through a lot of steps. 
        </p>
       </div> 
</div>        
               
<div class="container">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-8 col-md-offset-2">
        <a class="sketchImg" rel="group1" href="images/GetSafe/FloorPlanPageDesign.jpg"><img class="img-responsive" src="images/GetSafe/FloorPlanPageDesign.jpg"></a>
        </div>
             
</div>
</section>

<section class="about-pro bg4">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
      Marketing Designs
        </h4>
       <p>
I designed some marketing collateral for Facebook advertisements, website materials, email designs, brouchure, and any other designs needed. Here are some examples of my work.
       </p>
        </div>
</div>


            
<div class="container">
     <div class="col-xs-6 col-sm-6 col-md-8 col-lg-3 col-lg-offset-1">
        <a class="compImg" rel="group1" href="images/GetSafe/CatAd.jpg"><img class="img-responsive" src="images/GetSafe/CatAd.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <a class="compImg" rel="group1" href="images/GetSafe/FrontYard.jpg"><img class="img-responsive" src="images/GetSafe/FrontYard.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <a class="compImg" rel="group1" href="images/GetSafe/Lifetsyle_floor.jpg"><img class="img-responsive" src="images/GetSafe/Lifetsyle_floor.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">    
        <a class="compImg" rel="group1" href="images/GetSafe/Email_1.png"><img class="img-responsive" src="images/GetSafe/Email_1.png"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">     
        <a class="compImg" rel="group1" href="images/GetSafe/Email_2.png"><img class="img-responsive" src="images/GetSafe/Email_2.png"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">    
        <a class="compImg" rel="group1" href="images/GetSafe/Email_3.png"><img class="img-responsive" src="images/GetSafe/Email_3.png"></a>
     </div>
    
</div>
</section>

<section class="about-pro bg3">
<div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
     <h4>
     Brochure Designs
     </h4>
     <p>Below are some webpages I designed for different products or features we were launching. 
     </p>
     </div>
</div>
        
<div class="container">
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">    
        <a class="compImg" rel="group1" href="images/GetSafe/Brochure1_pt1.jpg"><img class="img-responsive" src="images/GetSafe/Brochure1_pt1.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">     
        <a class="compImg" rel="group1" href="images/GetSafe/Brochure1_pt5.png"><img class="img-responsive" src="images/GetSafe/Brochure1_pt5.png"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">    
        <a class="compImg" rel="group1" href="images/GetSafe/Brochure1_pt3.jpg"><img class="img-responsive" src="images/GetSafe/Brochure1_pt3.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">     
        <a class="compImg" rel="group1" href="images/GetSafe/Brochure1_pt4.png"><img class="img-responsive" src="images/GetSafe/Brochure1_pt4.png"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">     
        <a class="compImg" rel="group1" href="images/GetSafe/Brochure1_pt6.png"><img class="img-responsive" src="images/GetSafe/Brochure1_pt6.png"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">     
        <a class="compImg" rel="group1" href="images/GetSafe/Brochure1_pt2.jpg"><img class="img-responsive" src="images/GetSafe/Brochure1_pt2.jpg"></a>
     </div>
</div>
</section>


            
<% include footer %>

</body>
</html>

