<!DOCTYPE html>

<html lang="en">
   
<% include header %>
<body id="page-top" class="project4Page" data-spy="scroll" data-target=".navbar-fixed-top">  
    
 <% include nav %>   

    <!---- Main context ----> 

<header class="bg1">
  <div class="container">
    <br>
      <h1>
User Experience and Product Design
    </h1>
     </div>
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h2>
Xtime provides automotive dealership service departments with scheduling and CRM solutions. At Xtime I configured Google Analytics for mobile and desktop scheduling sites and created several design alternatives for their mobile site.
            </h2>
            <br>
     </div>
   </div>
</header>

    
 <section class="about-pro bg3">
 <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
User Testing
        </h4>
        <p>

First I went out to have users test out the current app design and have them talk out loud while going through the app. The users were given an objective like a car model, repairs needed to be done, and date and time of appointment they needed to make. This helped relieve the user of focusing on these details that weren't important. At the end of the test I would ask the user some basic questions regarding their experience in using the app to get a better insight of their opinions.
        </p>
        </div>               
   </div>
                
<div class="container">

       <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
           
           <a class="bioImg" rel="group1" href="images/Xtime/userTest.gif"> <img class="img-responsive" src="images/Xtime/userTest.gif"></a>
           <p>This was the prompt given to each participant which they could refer to during the test.</p>
           </div>
         
        
        <div class="col-xs-12 col-sm-6 col-md-5">
           
            <a class="bioImg" rel="group1" href="images/Xtime/userQuestions.gif"><img class="img-responsive" src="images/Xtime/userQuestions.gif"> </a>
             <p>This was the researcher script used to interact with users throughout the test.</p>
       </div>          
</div>
</section>
            
            
            
<section class="about-pro bg4">
    <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Analysis
        </h4>
        <p>
            After conducting user testing I looked at the results for any conclusions I could make about the overall flow and usability of the app. One thing many people complained about, which was unexpected, was a lot of people were annoyed with the service packaging set up. There was no set up in the prompt on which service package the user was to choose. This was to encourage them to look through the available packages. A lot of frustration was created when people looked back and forth between the factory and dealer recommended packages and realized that they were the same. A common comment was this is pointless, or what is the reason for this? Another snag was people ignored the trim option and most of the time randomly selected one. Many people found the calendar interactions confusing and the feature itself puzzling. It took a while for some people to actually figure out how to select a time. The main takeaway was that the first steps- and especially scheduling- contained wording and usability that confused users.
      </p>
        </div>    
     </div>
      
        <div class="container">                    
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <a class="sketchImg" rel="group1" href="images/Xtime/results.gif"><img class="img-responsive" src="images/Xtime/results.gif"></a>
                </div>    
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
                   <p>These are some of the results from the user tests.</p>
                </div>
        </div>
</section>
      
                    
<section class="about-pro bg3">
    <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Google Analytics
        </h4>
        <p>

To get even more input from users using the Xtime mobile app I was in charge of setting up trackers through Google Analytics. This would give us data on where users were spending a lot of time, dropping out, getting confused, and so on. I worked with the engineers to implement these trackers in the correct spots and made sure the correct functions were being recorded.
       </p>
        </div>        
     </div>           
           
     <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                    <a class="compImg" rel="group1" href="images/Xtime/GoalsStep3GA.gif">  <img class="img-responsive" src="images/Xtime/GoalsStep3GA.gif"></a>
                </div>
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
                   <p>Focusing on the third step of the mobile app experience these are the goals I had when setting up trackers with Google Analytics.  </p>
                </div>  

                <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                    <a class="compImg" rel="group1" href="images/Xtime/pagesTracked.png">    <img class="img-responsive" src="images/Xtime/pagesTracked.png"> </a>
                </div>
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
                    <p>A list of the pages I set up to be tracked by Google Analytics. When the page loads it gets sent as a view and logged. </p>
                 </div>
      
                 <div class="col-xs-12 col-sm-6 col-md-6">
                     <a class="compImg" rel="group1" href="images/Xtime/flow1event.png">     <img class="img-responsive" src="images/Xtime/flow1event.png"> </a>
                     <p>A flow chart showing the events in the order in which they were clicked or interacted with - shown with the most used pathway at the top. </p>
                </div>
                     <div class="col-xs-12 col-sm-6 col-md-6">
                         <a class="compImg" rel="group1" href="images/Xtime/flow2.png">      <img class="img-responsive" src="images/Xtime/flow2.png"> </a>
                         <p>A flow chart showing the pages the user went through- this was especially important when looking at where the user drops off the most. </p>
                    </div>
                </div>
</section>
      
            
<section class="about-pro bg4">
    <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Redesign
        </h4>
        <p>
    After conducting the user testing and looking over the GA results I had received, the scheduling step seemed to have the most issues and cause the most drop outs so I focused on brainstorming some design ideas for this step.
        </p>
        <p>The original design for the scheduling page</p>
     </div>        
</div>

<div class="container">          
            <div class="col-xs-6 col-sm-6 col-md-6">
                <a class="wireImg" rel="group1" href="images/Xtime/originaldesign.png"><img class="img-responsive" src="images/Xtime/originaldesign.png"> </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <a class="wireImg" rel="group1" href="images/Xtime/originaldesign2.png"><img class="img-responsive" src="images/Xtime/originaldesign2.png"> </a> 
            </div>
</div>
 
<div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <p>In reviewing the design and usability of the scheduling step some key features stood out. The calendar feature was very confusing to users. Many users didn’t understand what it was and were confused on how to interact with it.  Following the calendar selection tool, users had difficulties with selecting a time for their appointment. There was a disconnect between the day picker (the calendar) and the time selection tools in which users were unsure of how the two went together.  This is a critical step in setting up an appointment and the fact that so many users were unclear and very hesitant in what each interaction meant was a problem. Knowing what the users experienced I moved forward in redesigning this step of the app.  </p>
     </div> 
</div>                  

<div class="container">         
           <div class="row vertical-align">
           <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
           <p>
Here is the first redesign I made. 
I kept close to the original design and focused on displaying the times in a clearer way. This also was a way to get rid of the calendar feature all together. The one issue with this redesign is that it doesn’t show the user the amount of availability for each day- which means the user has to do a lot more clicking and interacting with the app to get a successful date chosen. 
           </p>
           </div>
           <div class="col-sm-3 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 negativeMarginBig">
           <iframe class="inVisionFrameBig" height="865" src="//invis.io/DZ1CI5MC9" frameborder="0" allowfullscreen></iframe>
           </div>
          </div>
          
          <div class="row vertical-align">
          <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-md-push-6 col-lg-6 col-lg-offset-0 col-lg-push-6">
          <p>
Here is my second design. 
In this design I brought back the calendar idea- but at a smaller size. This would help the user choose the day they were most interested in and then be able to see the times available easier. While this design helped cut back some of the clicking and interaction the user has to perform- it gave the user more information at a glance. This did increase scrolling to get to the later times though. 
          </p>
          </div>
           <div class="col-sm-3 col-sm-offset-3 col-sm-pull-0 col-md-5 col-md-pull-7 col-lg-5 col-lg-pull-7 negativeMarginSmall">
         <iframe class="inVisionFrameSmall" height="858" src="//invis.io/AY48SDRMD" frameborder="0" allowfullscreen></iframe>
          </div>
          </div>
          
          <div class="row vertical-align">
           <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
          <p>
Here is my third design. 
This design requires the user to input a time they want to come in. Then the closest available times are displayed. 
              The user then can just select the appointment that is most appealing or scroll through to other days. This design is influenced by the fact that people have a specific time frame in mind when scheduling an appointment like this.  Also with the user inputting the time this will cut down on how much back and forth interactions the user will have to go through to find their ideal appointment slot. This will be a more challenging task for users who don’t have a specific time in mind- in which case when they input the time there will be an option “Show next available times”. 
          </p>
          </div>
          <div class="col-sm-3 col-sm-offset-3 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 negativeMarginSmall">
          <iframe class="inVisionFrameSmall" height="858" src="//invis.io/VH1CI5KRB" frameborder="0" allowfullscreen></iframe>
          </div>
          </div>
         
          <div class="row vertical-align">
          <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-md-push-6 col-lg-6 col-lg-offset-0 col-lg-push-6">
          <p>
Here is my fourth design. 
With this design I focused on the action of selecting the exact time and days. This task involves some interaction but lets the user select what they want- giving them control. This version allows them to select which day they want to go in. Instead of showing all the available times that day, like in the previous versions, this option would show available appointments that day around the specified time selected. In this design the user has the option of selecting whether the time or day or both matter most. The user can look through days around a certain time, or select a day and see all times available for that day, or lastly if they have a particular day and time they can focus in on their options choosing both more specifically. 
          </p>
          </div>
          <div class="col-sm-3 col-sm-offset-3 col-md-5 col-md-offset-0 col-md-pull-7 col-lg-5 col-lg-offset-0 col-lg-pull-7 negativeMarginSmall">
          <iframe class="inVisionFrameSmall" height="858" src="//invis.io/UP1CI5I8J" frameborder="0" allowfullscreen></iframe>
          </div>
          </div>
          </div>
</div>
</section>          
 
  
<% include footer %>

</body>
    
</html>

