<!DOCTYPE html>

<html lang="en">
 
<% include header %>
<body id="page-top" class="project3Page" data-spy="scroll" data-target=".navbar-fixed-top">

 <% include nav %>    
    
    <!-- Main Content --> 
      
<header class="bg1">
<div class="container">
    <br>
      <h1>
     UCSD Women's Club Soccer Web Redesign
      </h1>
</div>
<div class="container">
       <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
       <h2>
   The goal was to vastly improve on the usefulness of the existing website.  We worked closely with the team captain acting as our client, to identify unfulfilled requirements. The new design not only provided an updated look, but also successfully addressed all of the gaps identified by the client.
 
       </h2>
           <br>
       </div>    
</div>
</header>         
        
<section class="about-pro bg3">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
        The Client
        </h4>
        <p>
   After looking over the site for ourselves we had in mind some changes we already wanted to make and some changes in the current format of the site, but first we sat down with the client to really understand what she wanted and expected from this redesign. Going into this meeting with had some questions set up to ask as well as some example sites that we could use as reference to really give our client a better understanding and picture of what was expected. Our client gave us a list of specifics she needed for the site:
        </p>
        </div>
</div>

<div class="container">
<div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-2" >
     <ul style="margin-bottom:0px;">
        <li><span>Modern and clean looking site</span></li>
        <li><span>Personality displayed-fun outgoing friendly</span></li>
        <li><span>Very simple, little interactivity</span></li>
        <li><span>Photos and videos to display game play</span></li>
        <li><span>It's a source of information-very content heavy</span></li>
        <li><span>Donation function</span></li>
     </ul>
</div>              
<div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0" >
     <ul>
        <li><span>Very easy to navigate through</span></li>
        <li><span>Incorporate social media aspects</span></li>      
        <li><span>Directions to fields</span></li>
        <li><span>Tournament information</span></li>
        <li><span>Schedule</span></li>
        <li><span>Stats</span></li>
        <li><span>Contact info for captains</span></li>
        <li><span>Highlights from previous games</span></li>
     </ul>
</div>          
</div>
</section>                       
            
<section class="about-pro bg4">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
        The Users
        </h4>
        <p>
  Our client had a clear idea of what she wanted and expected from our redesign of the site, the next step was to go out to the users and see what the expect and want out of the site. In talking to our client and users overall we found three main user types emerge that we would focus on and create a website that is ideal for all our users to be satisfied with as well as meeting the client's needs. 
Our users were broken down into current players, prospective players, and visitors and fans. How each of these user groups use the site varies a lot but to create a successful site all users have to have incentive and features they can use. 
        </p>
        <p> After interviewing users across all user groups we found commonalities in what they all wanted in the site and what they expected to find (strictly feature wise).
        </p>
        </div>
</div>          
                    
<div class="container">
<div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-2" >
     <ul style="margin-bottom:0px;">
        <li><span>Game schedule</span></li>
        <li><span>Social Media</span></li>
        <li><span>Blog Page</span></li>
        <li><span>Directions</span></li>
     </ul>
</div>              
<div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0" >
     <ul>
        <li><span>Roster</span></li>
        <li><span>Stats</span></li>
        <li><span>Photos and Videos</span></li>            
        <li><span>Forms and informational documents </span></li>
     </ul>  
</div>
</div>
               
<div class="container">
<div class="col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0">
      <a class="bioImg" rel="group1" href="images/UCSD/CurrentBio.gif"><img class="img-responsive" src="images/UCSD/CurrentBio.gif"></a>
</div>
<div class="col-sm-6 col-md-6">
      <a class="bioImg" rel="group1" href="images/UCSD/FanBio.gif"><img class="img-responsive" src="images/UCSD/FanBio.gif"></a>
</div>
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <a class="bioImg" rel="group1" href="images/UCSD/ProspectiveBio.gif"><img class="img-responsive" src="images/UCSD/ProspectiveBio.gif"></a>
</div>
</div>
</section>

   
<section class="about-pro bg3">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
      Sketches
        </h4>
        <p>Below are sketches of the layouts.
        </p>
       </div> 
</div>        
               
<div class="container">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
        <a class="sketchImg" rel="group1" href="images/UCSD/homeSketch.jpg"><img class="img-responsive" src="images/UCSD/homeSketch.jpg"></a>
        </div>
            
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
         <a class="sketchImg" rel="group1" href="images/UCSD/aboutSketch.jpg"><img class="img-responsive" src="images/UCSD/aboutSketch.jpg"></a>
        </div>
          
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
         <a class="sketchImg" rel="group1" href="images/UCSD/contactSketch.jpg"><img class="img-responsive" src="images/UCSD/contactSketch.jpg"></a>
            </div>
            
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
         <a class="sketchImg" rel="group1" href="images/UCSD/directionsSketch.jpg"><img class="img-responsive" src="images/UCSD/directionsSketch.jpg"></a>
        </div>   
           
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
         <a class="sketchImg" rel="group1" href="images/UCSD/videoSketch.jpg"><img class="img-responsive" src="images/UCSD/videoSketch.jpg"></a>
        </div>  
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
         <a class="sketchImg" rel="group1" href="images/UCSD/resultsSketch.jpg"><img class="img-responsive" src="images/UCSD/resultsSketch.jpg"></a>
        </div>  
    
        <div class="col-xs-6 col-xs-offset-0 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-3 col-lg-offset-0">
         <a class="sketchImg" rel="group1" href="images/UCSD/rosterSketch.jpg"><img class="img-responsive" src="images/UCSD/rosterSketch.jpg"></a>
        </div>  

        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
         <a class="sketchImg" rel="group1" href="images/UCSD/scheduleSketch.jpg"><img class="img-responsive" src="images/UCSD/scheduleSketch.jpg"></a>
        </div>  
</div>
</section>

<section class="about-pro bg4">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
        Competitive Analysis
        </h4>
       <p>
Now that we had a good idea of what our client and users wanted out of the site it was time to go check out what was currently being done on other college athletics sites, professional athletics sites, and other modern well designed sites. Through this process we identified different aspects of design in sites that we found had good qualities as well as certain features we found on different sites that we felt would successfully display the information we needed. In doing this analysis we found qualities that we wanted to incorporate into our site as well as features we wanted to avoid. 
The main takeaways we found and wanted to use in our site were:
       </p>
        </div>
</div>

<div class="container">
   <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
   <ul>
      <li><span>There are some great aspects we would like to mimic for our site that we found on other sites,
      The use of a carousel on the home page displaying images and linking to the blog posts for upcoming games tournaments and results and posts about past games. </span></li>
      <li><span>
      In terms of layout we got some great ideas for using imagery in the background and incorporating team photos in the site to show off the brand. </span></li>
       <li><span>
      We got some great examples of how to implement social media (like Twitter) onto the website so people can read the latest tweets as well as post from the site. UCSB had a great widget for this.</span></li>
      <li><span>
      To display a schedule for the season Cal Poly had a great calendar feature that we would like to incorporate into the site. 
      UCLA had a great recap carousel that displayed results and linked to the recap of the game.  </span></li>
   </ul>
    <p>
Below are some of the sites we went through and things we really liked and wanted to use when creating our site. Along with our decision on the terms to have in our navigation bar and a mood board that we used as inspiration on what the overall feel and look we want our site to encompass. 
   </p>
   </div>   
</div>
            
<div class="container">
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <a class="compImg" rel="group1" href="images/UCSD/brand.jpg"><img class="img-responsive" src="images/UCSD/brand.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <a class="compImg" rel="group1" href="images/UCSD/content.jpg"><img class="img-responsive" src="images/UCSD/content.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <a class="compImg" rel="group1" href="images/UCSD/design.jpg"><img class="img-responsive" src="images/UCSD/design.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">    
        <a class="compImg" rel="group1" href="images/UCSD/functionality.jpg"><img class="img-responsive" src="images/UCSD/functionality.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">     
        <a class="compImg" rel="group1" href="images/UCSD/sitearchitect.jpg"><img class="img-responsive" src="images/UCSD/sitearchitect.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">    
        <a class="compImg" rel="group1" href="images/UCSD/moodboard.jpg"><img class="img-responsive" src="images/UCSD/moodboard.jpg"></a>
     </div>
</div>
</section>

<section class="about-pro bg3">
<div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
     <h4>
     Wireframes
     </h4>
     <p>Below are wireframes of the layouts.
     </p>
     </div>
</div>
        
<div class="container">
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="wireImg" rel="group1" href="images/UCSD/wireframe/home.png"><img class="img-responsive" src="images/UCSD/wireframe/home.png"></a>
     </div>
     
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="wireImg" rel="group1" href="images/UCSD/wireframe/about.png"><img class="img-responsive" src="images/UCSD/wireframe/about.png"></a>
     </div>
     
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="wireImg" rel="group1" href="images/UCSD/wireframe/contact.png"><img class="img-responsive" src="images/UCSD/wireframe/contact.png"></a>
     </div>
     
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="wireImg" rel="group1" href="images/UCSD/wireframe/directions.png"><img class="img-responsive" src="images/UCSD/wireframe/directions.png"></a>
     </div>                       
     
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="wireImg" rel="group1" href="images/UCSD/wireframe/photos___videos.png"><img class="img-responsive" src="images/UCSD/wireframe/photos___videos.png"></a>
     </div>
     
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="wireImg" rel="group1" href="images/UCSD/wireframe/roster.png"><img class="img-responsive" src="images/UCSD/wireframe/roster.png"></a>
     </div>
     
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="wireImg" rel="group1" href="images/UCSD/wireframe/tryouts.png"><img class="img-responsive" src="images/UCSD/wireframe/tryouts.png"></a>
     </div>
     
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="wireImg" rel="group1" href="images/UCSD/wireframe/schedule.png"><img class="img-responsive" src="images/UCSD/wireframe/schedule.png"></a>
     </div>
     
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="wireImg" rel="group1" href="images/UCSD/wireframe/results.png"><img class="img-responsive" src="images/UCSD/wireframe/results.png"></a>
     </div>
</div>
</section>

<section class="about-pro bg4">
<div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
     <h4>
Product
     </h4>
        <p>
For our final product we made some major design changes that we felt helped our site have more of a modern and open look and feel. We took out having an image as the background and made it a solid color instead. We also went away from the more boxed sectioned layout and tried to open up the site by not having all the content being separated by boxes.  Along with layout we also tried to incorporate and keep the color variability minimal and more focused on the team’s color- blue, gold, and white.  The final product satisfied our customer and gave her the rich imagery, friendly personality, and modern look she was looking to display. 
        </p>
     </div>
</div>
            
<div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <div class="link">
        <p>
<a href="http://ucsdwcsoccer.herokuapp.com/homepage.html" target="_blank"> Check it out </a>
        </p>
        </div>
     </div>
</div>
                
<div class="container">               
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="prodImg" rel="group1" href="images/UCSD/Home.jpg"><img class="img-responsive" src="images/UCSD/Home.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="prodImg" rel="group1" href="images/UCSD/contact.jpg"><img class="img-responsive" src="images/UCSD/contact.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="prodImg" rel="group1" href="images/UCSD/tryouts.jpg"><img class="img-responsive" src="images/UCSD/tryouts.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="prodImg" rel="group1" href="images/UCSD/Schedule.png"><img class="img-responsive" src="images/UCSD/Schedule.png"></a>
     </div>
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="prodImg" rel="group1" href="images/UCSD/Photos&Vids.jpg"><img class="img-responsive" src="images/UCSD/Photos&Vids.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="prodImg" rel="group1" href="images/UCSD/results.jpg"><img class="img-responsive" src="images/UCSD/results.jpg"></a>
     </div> 
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="prodImg" rel="group1" href="images/UCSD/Directions.jpg"><img class="img-responsive" src="images/UCSD/Directions.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="prodImg" rel="group1" href="images/UCSD/roster.jpg"><img class="img-responsive" src="images/UCSD/roster.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="prodImg" rel="group1" href="images/UCSD/About.png"><img class="img-responsive" src="images/UCSD/About.png"></a>
     </div>   
</div>
</section>
            
<% include footer %>

</body>
</html>

