<!DOCTYPE html>

<html lang="en">
 
<% include header %>
<body id="page-top" class="project10Page" data-spy="scroll" data-target=".navbar-fixed-top">

 <% include nav %>    
    
    <!-- Main Content --> 
      
<header class="bg1">
<div class="container">
    <br>
      <h1>
Plexuss
    </h1>
</div>
<div class="container">
       <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
       <h2>
   Plexuss is a college recruiting academic network that is meant to help high school students find the right college for themself. I designed a widget to be used on the site. This is the process and steps I went through. 
       </h2>
           <br>
           <p><center>   
        <a class="compImg" rel="group1" href="images/Plexuss/plex_full_logo.png"><img class="img-responsive" src="images/Plexuss/plex_full_logo.png"></a>
    </p>
         </center>
           <br>
       </div>    
</div>
</header>         
        
<section class="about-pro bg3">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
        Overview
        </h4>
        <p>
My goal was to create a widget that would not only encourage users to interact with it but would also be sustainable for the user to use over a long period of time. This means the widget has to have some value more than a one time interaction and would be helpful to use continuously if desired. I focused on the high school senior user group and what they would be most beneficial for them. </p>
            <p>
For this project I followed the basic design process and started off with research and user input. Then I brainstormed some topics and design ideas. From there I was able to explore a few ideas and basic concepts before finally creating some sketches and then the final design. 

            </p>
            
        </div>
</div>

</section>                       
            
<section class="about-pro bg4">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
        User Research
        </h4>
        <p>
I was able to reach out to a group of seniors at the local high school to get them to participate in a quick questionnaire. I asked some basic questions about the college application and acceptance process as well as social media/app usage. The questionnaire is pictured below. I was able to survey 10 students.
        </p>
        </div>
</div>          
               
<div class="container">
<div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
      <a class="bioImg" rel="group1" href="images/Plexuss/StudentSurvey.png"><img class="img-responsive" src="images/Plexuss/StudentSurvey.png"></a>
</div>

</div>
</section>

   
<section class="about-pro bg3">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Results
            </h4>
        <p>
Here are some of the stand out results (taken from the 10 students who participated):
        </p>
       </div> 
</div>        
               
<div class="container">
    
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
        <a class="compImg" rel="group1" href="images/Plexuss/ChoosingFactorsBarCahrt.png"><img class="img-responsive" src="images/Plexuss/ChoosingFactorsBarCahrt.png"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-lg-offset-1">
        <a class="compImg" rel="group1" href="images/Plexuss/CollegeSocialMediaChart.png"><img class="img-responsive" src="images/Plexuss/CollegeSocialMediaChart.png"></a>
     </div>
    <br>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
        <a class="compImg" rel="group1" href="images/Plexuss/SocialMediaChart.png"><img class="img-responsive" src="images/Plexuss/SocialMediaChart.png"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-lg-offset-1">    
        <a class="compImg" rel="group1" href="images/Plexuss/ToughestPartPieChart.png"><img class="img-responsive" src="images/Plexuss/ToughestPartPieChart.png"></a>
     </div>
     
    
</div>
    
    
  <div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
    
        <p>
From these findings it seems students don’t use the college's social media platforms. A school’s location and education programs/standings are extremely influential in the student's’ decision process. During the application process making sure the student is choosing the right college for them is a huge stress. 

        </p>
       </div> 
</div>    
    
    
</section>

<section class="about-pro bg4">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Web Findings
            </h4>
       <p>
In order to get a better understanding of what widgets are typically used for and how I could incorporate one into Plexuss’ mission I did some further research online.</p>
            <ol>
<li><span><a href="http://developer.android.com/design/patterns/widgets.html">Andriod’s widget site</a> to look at purpose and current uses for widgets as background info. </span></li>
                
<li><span><a href="http://developer.android.com/guide/practices/ui_guidelines/widget_design.html">Android’s website</a> on widget design</span></li>
                
<li><span><a href="https://www.pinterest.com/natasha_springe/widget-design/">Pinterest </a>to search for some ideas and design concepts.</span></li>
                
<li><span><a href="https://plexuss.com/help">Plexuss,</a> besides just looking over the site for mission statement and uses I specifically looked at the help & FAQ page to see some highlighted topics that I could expand and create a simple widget for.</span></li>
</ol>
      
        </div>
</div>
    
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h3>
Findings
            </h3>
        <p>
After going through some sites online, I decided my design should be flexible enough to be used on an Android phone to link to either the Plexuss site or a potential future app, as well as being a supplement to the current site. Overall simplicity is key for such a small area- which means each aspect has to hold some value - whether its usability or attention grabbing, there is limited space to display content. 
        </p>
       </div> 
</div>


</section>

<section class="about-pro bg3">
<div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
     <h4>
     Brainstorming Ideas
     </h4>
    
     </div>

        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h3>
Social Media Preview
            </h3>
            <p> 
            For this idea I was thinking of having a carousel cycle through some of the college's top/most recent postings from the three platforms- Facebook, Instagram, and Twitter. The idea behind this is that the short blurbs and pictures would draw students into and show what the college is highlighting via social media and encourage the student to check it out and follow the schools of interest. They would have the ability to be taken directly to that college's social media page. Since students are highly involved in social media platforms but not using the ones set up by colleges this would hopefully peak their interest by showing them the content. It also is a great way to show off different aspects of the colleges- from a social media perspective- versus the basic layout and format of a typical college website. 
            
            </p>
      </div> 
  </div>
  
    
    
      
    <div class="container">
    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-8 col-lg-offset-2">    
        <a class="compImg" rel="group1" href="images/Plexuss/SocialMediaBS.jpg"><img class="img-responsive" src="images/Plexuss/SocialMediaBS.jpg"></a>
     </div>
    </div>
    
        
    <div class="container">

        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h3>
Photo of the Day            </h3>
            <p> 
            This widget would cycle through some beautiful, fun, and appealing photos from the different colleges. The idea is to display some really awesome aspects like cool views, sporting events, unique treasures, and other visually stimulating features of the school. The widget would cycle through a different highlighted photo of the day from several colleges and along with the photo a description of what makes it special to the school as well as some fun and important stats. The goal is to get the user’s attention and peak interest in the school and allow them to be linked to a page to learn more and move forward in researching and hopefully applying to that college.
            </p>
      </div> 
  </div>
  
    
    
      
    <div class="container">
    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-8 col-lg-offset-2">    
        <a class="compImg" rel="group1" href="images/Plexuss/PhotoDay.jpg"><img class="img-responsive" src="images/Plexuss/PhotoDay.jpg"></a>
     </div>
    </div>
    
    
    
    
     <div class="container">

        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h3>
Reminder/Checklist            </h3>
            <p> 
            For this widget I’m aiming to solve the student's problem of keeping track of deadlines and important dates. It would serve as a helpful tool that a user would be inclined to check out and use. It would also alternate to a quick checklist so if the user was aware and up to date on deadlines they could at least glance at checklist to look further ahead at what they can be proactively doing or if they are forgetting something. It would draw the user’s attention in with some headline like “DON’T FORGET!” And allow the user to interact if they needed more information or wanted to complete the task being displayed. </p>
      </div> 
  </div>
  
    
    
      
    <div class="container">
    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-8 col-lg-offset-2">    
        <a class="compImg" rel="group1" href="images/Plexuss/Checklist.jpg"><img class="img-responsive" src="images/Plexuss/Checklist.jpg"></a>
     </div>
    </div>
    
    
    
</section>

<section class="about-pro bg4">
<div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
     <h4>
Sketches
     </h4>
        <p>
I then brainstormed the design with a sketch/wireframe and included the usability features of the design.         </p>
     </div>
</div>
   
    
     <div class="container">
    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-8 col-lg-offset-2">    
        <a class="compImg" rel="group1" href="images/Plexuss/sketch.png"><img class="img-responsive" src="images/Plexuss/sketch.png"></a>
     </div>
    </div>

</section>
    
    <section class="about-pro bg4">
<div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
     <h4>
Mockup
     </h4>
        <p>
For my final design I went with a photo of the day from UC San Diego, the first screen showing the widget as it would be displayed on the page and the second screen is what it looks like when a user mouses over the image. 
This design incorporates visuals, interactivity, non-interactivity, important stats, links, and multiple colleges to be displayed. The overall design is meant to be simple while still getting across important and intriguing information. I chose the stats based on what users said were important in my research and what made sense when going through the Plexuss site. The goal is to catch the user’s attention with visuals and the motion of the carousel, then keep their interest by providing the stats and encourage them to check out the school in more depth by following the links. 
     </div>
</div>
   
    
     <div class="container">
    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">    
        <a class="compImg" rel="group1" href="images/Plexuss/PlexussWidget1-01.png"><img class="img-responsive" src="images/Plexuss/PlexussWidget1-01.png"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">    
        <a class="compImg" rel="group1" href="images/Plexuss/PlexussWidget2-01.png"><img class="img-responsive" src="images/Plexuss/PlexussWidget2-01.png"></a>
     </div>     
         
    </div>

</section>
    
    
            
<% include footer %>

</body>
</html>

