html {
    width:100%;
    height:100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif; 
    background-color: rgba(0,0,0,0);
    font-size: 18px;
    
    
}

a {
    color: #b1e5e4;
    font-size: 20px;
}

a:hover {
 color: #ffd699 ;   
}

ul {
 font-family: 'Josefin Sans', sans-serif;  
}

li {
 color: #BDBEC0;   
}

li span{
    color: #595959;
}

section {
    padding: 50px 0;    
    /*width: 100%;*/
}

section h2 {
    margin: 0;
    font-size: 3em;
}
  
hr {
    width: 83%;
    height: 1px;
    background-color:#BDBEC0;
    color:#BDBEC0;
    object-position: center;
    margin-top:5px;
    margin-bottom:10px;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.footer {
    text-align:center;
    margin-top:0px;
    padding:10px 0px;
    background-color: #ffd699;
    
    position: relative;

}



.btn-1 .btn-primary {
    background-color: #fff !important;
    border-color: #fff;
    border-width: 3px;
    color: black;
}

.btn-2 .btn-primary {
    background-color: #b1e5e4 !important;
    border-color: #b1e5e4;
    border-width: 3px;
    color: black;
}


.bg1 {
    /*background-color: #f1eae0;*/
    /* background-color: #b1e5e4;*/
    background-color: #CAEDED;
    color: #595959;
    border-bottom-color: #b1e5e4;
    border-bottom: 2px solid;
    border-color: #b1e5e4;
}

.bg2 {
    /*background-color: #ffd699; */
    background-color: #FFFFFF;
    color: #595959;
    border-bottom-color: #ffd699;
    border-bottom: 2px solid;
    border-color: #b1e5e4;
}

.bg3 {
    background-color: #FFFFFF;
    color: #707070;
    border-bottom-color: #b1e5e4;
    border-bottom: 2px solid;
    border-color: #b1e5e4;
    
}



.bg4 {
    background-color: #FFFFFF;
    color: #707070;
    border-bottom-color: #ffd699;
    border-bottom: 2px solid;
    border-color: #ffd699;
    
}

.intro-text {
    padding-top: 15%;
    padding-bottom: 15%;
    color: #fff;
    font-size: 48px;  
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.intro {
    display: table;
    width: 100%;
    text-shadow: 0px 0px 15px #000 ;
    height: 100%;
    padding: 0;
    text-align: center;
    color: #fff;
    background-color: #fff;    
    background:url('../images/bridgeclosemobile.gif') no-repeat center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: auto;
}

.fa {
    color: #fff;
}
    
    .btn-circle {
        width: 70px;
        height: 70px;
        margin-top: 15px;
        padding: 7px 16px;
        border: 2px solid #fff;
        border-radius: 100%!important;
        font-size: 40px;
        color: #fff;
        background: 0 0;
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
    }
    
    .btn-circle:hover,
    .btn-circle:focus {
        outline: 0;
        color: #fff;
        background-color: rgba(255,255,255,.1);
    }
    
    .btn-circle i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    
    .btn-circle:hover i.animated {
        -webkit-animation-name: pulse;
        -moz-animation-name: pulse;
        -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    } 

/* PROJECTS */

header {
    padding: 20px 0px 40px 0px;
    font-family: 'Didact',  sans-serif;
    align-content: center;
    text-align: center;
}

header.short {
    padding-bottom:0px;
}

header h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    color: #707070;
    padding-top: 40px;
    text-align: center;
}

header h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px; 
    padding-top: 10px;
    color: #707070;
    text-align: left;
    
}

h3 {
    font-family: 'Montserrat';
    font-size: 26px; 
    padding-top: 10px;
    color: #ffd699;
    text-align: left;
    
}

/* PROJECTS PAGE */
#projects h2 {
    text-align: center;
}

.marginMore {
}

.caption {
    position:absolute;
    top:-100%;
    right:0;
    background-color:rgba(150, 145, 150, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
}

.caption h4 {
    font-size: 28px;   
}


.caption p {
    font-size: 25px;   
}

.thumbnail {
    position:relative;
    overflow:hidden;
    border: 0 none;
    box-shadow: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(150, 145, 150, 0.00);
}

.thumbnail:hover .caption {
    top:0%;
} 

.thumbnail .caption {
    padding: 10% 10px 10% 10px;
    background-color: rgba(150, 145, 150, 0.00);
}

.thumbnail a {
    color: #fff;
}

/* RESUME PAGE */

.resume {
    margin-bottom: 55px;
    /*margin-top: 90px;
    padding-top: 20px;*/
   /* border-bottom-color: #BDBEC0;
    border: 3px;
    outline: 3px solid #BDBEC0;*/
    
}

.resume .img-responsive {
   
}

/* CONTACT PAGE */
.box-1 {
    align-content: center;
    background-color: #F0C986;
    margin:0px 35px 50px 35px;
    padding:15px;
}

.box-2 {
    align-content: center;
    background-color: #CAEDED;
    margin:0px 35px 50px 35px;
    padding:15px;
}

/* ABOUT PAGE */

.about-page .row{
 align-content: center;
 object-position: center;
}

.about-page h4{
   padding-top: 15px;
    font-size: 35px;
    color: #707070;    
}

.about-text {
    color: #BDBEC0;
    margin-top: 0px;
/*  background-color: #F0C986 ;  */
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 30px;
     font-size: 20px;
}

.about-page .profile-image {
    object-position: center;
    /*height: 100px;*/
    margin-top: 0px;
}

.about-page .img-responsive {
    margin-right: 0px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-pro hr {  
    margin-top: 55px;
    margin-bottom: 55px;
}

.about-pro .row{
    object-position: center;
    align-content: center;
    margin-left: 0px;
    margin-right: 0px;
}


.about-pro {
    padding: 20px 0px;
    align-content: center;
    object-position: center;
}

.about-pro h4 { 
    font-size: 30px;
    font-family: 'Montserrat';
    color: #707070;
    text-align: center;
    padding-bottom: 20px;
}

.about-pro h2 {
    text-align: center;
    color: #707070;
    font-size: 25px;
}

.about-pro p {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-align:justify;
    margin-top: 10px;
    margin-bottom: 20px;
}

.about-pro .link p{
    text-align: center;
}

.about-pro .img-responsive {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 5px;
}

/* InVision */
   
.negativeMarginBig {
    margin-left:-57px;
    padding-left: 0px;
    padding-right: 0px;
}

.negativeMarginSmall {
    margin-left:-47px;
    padding-left: 0px;
    padding-right: 0px;
}

.inVisionFrameBig {
    width:362px;
}
 
.inVisionFrameSmall {
    width:352px;
}

  
  /* MEDIA QUERIES */
  
@media screen and (min-width:360px) {
    .negativeMarginSmall {
        margin-left:-21px;
    }
    .negativeMarginBig {
        margin-left:-36px;
    }
        
    .inVisionFrameBig {
        width:381px;
    }
     
    .inVisionFrameSmall {
        width:367px;
    }
    
    .thumbnail .caption {
        padding: 15% 10px 15% 10px; !important!
    }
}
  
@media screen and (min-width:375px) {
    .negativeMarginSmall {
        margin-left:-18px;
    }
    .negativeMarginBig {
        margin-left:-34px;
    }
        
    .inVisionFrameBig {
        width:394px;
    }
     
    .inVisionFrameSmall {
        width:378px;
    }

}
  
@media screen and (min-width:414px) {
    .negativeMarginSmall {
        margin-left:-8px;
    }
    .negativeMarginBig {
        margin-left:-10px;
    }
    
    .inVisionFrameBig {
        width:404px;
    }
     
    .inVisionFrameSmall {
        width:396px;
    }
    
    .caption h4 {
        font-size: 32px;   
    }
    
    .caption p {
        font-size: 30px;
    }
}

@media screen and (min-width:768px) {
    
.about-pro {
    padding: 50px 0px;
}
    
    /* CONTACT PAGE */
.box-1 {
    margin:0px 25px 70px 25px;
    padding:15px;
}

.box-2 {
    margin:0px 25px 70px 25px;
    padding:15px;
}
    
    .negativeMarginSmall {
        margin-left:25%;
    }
    .negativeMarginBig {
        margin-left:25%;
    }
    
    .btn-circle {
        width: 70px;
        height: 70px;
        margin-top: 15px;
        padding: 7px 16px;
        border: 2px solid #fff;
        border-radius: 100%!important;
        font-size: 40px;
        color: #fff;
        background: 0 0;
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
    }
    
    .btn-circle:hover,
    .btn-circle:focus {
        outline: 0;
        color: #fff;
        background-color: rgba(255,255,255,.1);
    }
    
    .btn-circle i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    
    .btn-circle:hover i.animated {
        -webkit-animation-name: pulse;
        -moz-animation-name: pulse;
        -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }   

    header h1 {
        font-size: 55px;
    }

    header h2 {
        font-size: 25px; 
    }
    
    .about-page h4 {
    font-size: 55px;  
    }
    
    hr {
        margin-top:10px;
    }

    .intro {
       text-shadow: 0px 0px 15px #000 ;
        height: 100%;
        padding: 0;
        background-color: #FFF;
        background:url('../images/bridgeclosesmall.gif') no-repeat center ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    .intro-text {
        padding: 0px;
        color: #ffffff ;
        font-size: 48px;  
       font-family: 'Josefin Sans', sans-serif; 
    }
    
    .homeText {
        margin-top: -5%;
        align-content: center;
        justify-content: center;
        padding: 0% 30% 0% 30%;
    }
    
    header h1 {
        padding-top: 90px;
    }
    
    .about-text {
        margin-top: 40px;
        text-align: justify;
    }
        
    .caption h4 {
        font-size: 48px;   
    }
    
    .caption p {
        font-size: 40px;
    }

}

@media screen and (min-width:992px) {
        
    .negativeMarginSmall {
        margin-left:auto;
    }
    .negativeMarginBig {
        margin-left:auto;
    }
    .vertical-align {
        
          /* Make it a flex container */
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex; 
          
          /* Align the bootstrap's container vertically */
            -webkit-box-align : center;
          -webkit-align-items : center;
               -moz-box-align : center;
               -ms-flex-align : center;
                  align-items : center;
          
          /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
             hence the bootstrap's container won't be aligned to the center anymore.
          
             Therefore, we should use the following declarations to get it centered again */
                 -webkit-box-pack : center;
                    -moz-box-pack : center;
                    -ms-flex-pack : center;
          -webkit-justify-content : center;
                  justify-content : center;
    }

    .marginMore {
        margin-left: 120px;
        margin-right: 120px;
    }
        
    .caption h4 {
        font-size: 32px;   
    }
    
    .caption p {
        font-size: 30px;
    }
    
    .about-pro .link p{
       /* text-align: left;
        padding-right: 20%; */ 
        padding-top:20px;
    }
    
    .about-pro h4{
        text-align: left;
    }
    
    .redesign-p {
     margin-top: 35%   
    }
    
    .redesign-p p {
        padding-left:0px;
        padding-right:30px;
    }

    .intro-text {
        padding-top: 20px;
        margin-top: -15%;
    }
    
    .profile-image {
     padding-top: 30px;   
    }

}

@media screen and (min-width:1024px) {
    /* RESUME PAGE */
    .resume {
        width: 830px;
        height: 1066px;
        margin-bottom: 50px;
    }
}
    
@media screen and (min-width:1200px) {

     .about-pro p {
    /*    padding-left:0px; */
    }
    
    .about-text {
     margin-top: 55px;   
    }
    
    .profile-image{
     padding-top: 0px;   
    }

}
